<!DOCTYPE html>
<html lang="en">
{# language info above should eventually be replaced by respective languages #}

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'cat_nav/style.css' %}">

  <!--[if lte IE 7]>
    <link rel="stylesheet" href="{% static 'cat_nav/yaml/yaml/core/iehacks.min.css' %}" type="text/css"/>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="{% static 'cat_nav/yaml/lib/html5shiv/html5shiv.js' %}"></script>
  <![endif]-->

</head>
<body>

  <div class="ym-wrapper">
    <header>
      <div class="ym-g50 ym-gl">
        <h1>ESTÈPHE</h1>
        <p>Communication Training</p>
      </div>

      <div class="ym-g50 ym-gr">
        <p>lorem ipsum ein menü</p>
      </div>

    </header>

    <main class="ym-grid">

      <div class="ym-g40 ym-gl content-block-1">
      {% block navigation %}
      {% endblock %}
      </div>

      <div class="ym-g60 ym-gr content-block-2">
      {% block product-details %}
      {% endblock %}
      </div>

    </main>
    <footer><p>© estèphe 2014</p></footer>

  </div> <!-- end ym-wrapper -->
</body>
</html>
