{% extends "cat_nav/base.html" %}
{% load list_categories %}

{% block title %}{{ product.page_title }}{% endblock %}

{% block navigation %}
  {% list_categories %}
{% endblock %}

{% block product-details %}
<h2>{{ product.page_title }}</h2>
<p>{{ product.page_content }}</p> 

<h3>Context Links</h3>
<ul>
  {% if product.page_context_links %}
    {% for context_page in product.page_context_links.all %}
    <li><a href="{% url 'products' context_page.id %}">{{ context_page }}</a></li>
      {% empty %}
  <p>Keine Kontext Links.</p>
    {% endfor %}
  {% endif %}
</ul>

{% endblock %}
