{% if product.page_container_set.all %}
<ul>
{% for product_name in product.page_container_set.all  %}
  {# eventually "product.id" should be replaced by "product_name.category_name" #}
  {# eventually "product_name.pk" should be replaced by "product_name.page_title" #}
  <li><a href="/cat_nav/{{ product.id }}/details/{{ product_name.pk }}/">{{ product_name.page_title }}</a></li>
  {# product.id refers to the ID of the product_category, product_name.pk to the ID of the page_container object. #}
{% endfor %}
</ul>
{% else %}
  <p>Category<br />without<br />products.</p>
{% endif %}
