{% extends "cat_nav/base.html" %}
{% block title %} – Category List! {% endblock %}

{% block categories %}
<h2>Categories</h2>
{% if object_list %}
  <ul>
  {% for category in object_list  %}
    <li>{{ category.category_name }}</li>
      <ul>
      {% for product in category.page_container_set.all %}
        {% comment %}
        es wäre wünschenswert, mit 'if' herauszufinden, ob überhaupt produkte zur jeweiligen kategorie existieren.
        {% endcomment %}
        <li>{{ product.page_title }}</li>
      {% endfor %}
      </ul>
  {% endfor %}
  </ul>
{% else %}
  <p>No categories defined.</p>
{% endif %}
{% endblock %}
