{% extends "cat_nav/base.html" %}
{% block title %}Catalogue{{category}}{% endblock %}

{% block navigation %}
{% if all_categories_and_some %}
  <ul>
  {% for category in all_categories_and_some %}
    {% ifequal my_category.category_name category.category_name  %}
    <li class="highlight-category">  
    {% else %}
    <li>
    {% endifequal %}
      <a href="{% url 'categories' category.id %}">{{ category.category_name }}</a>

      <ul>
      {% for product in category.page_container_set.all %}
        <li><a href="{% url 'products' product.id %}">{{ product.page_title }}</a></li>
      {% empty %}
        <li>No products yet.</li>
      {% endfor %}
      </ul>

    </li>

  {% endfor %}
  </ul>

{% else %}
  <p>No categories defined.</p>
{% endif %}
{% endblock %}
