{% extends "cat_nav/base.html" %}
{% block title %} – Category List! {% endblock %}

{% block categories %}
{% if all_categories %}
  <ul>
  {% for category in all_categories %}

    <li>
      <a href="{% url 'categories' category.id %}">{{ category.category_name }}</a>
    </li>

      <ul>
      {% for product in category.page_container_set.all %}
        <li><a href="{% url 'products' product.id %}">{{ product.page_title }}</a></li>
      {% empty %}
        <li>No products yet.</li>
      {% endfor %}
      </ul>

  {% endfor %}
  </ul>

{% else %}
  <p>No categories defined.</p>
{% endif %}
{% endblock %}
